input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
    color: #FF4C29;
    text-decoration: none;
}

body {
    background-color: #1F2933;
    color: rgb(228, 218, 218);
    font-family: 'montserrat';
}

#hophead-logo {
    border-radius: 50%;
    width: 80px;
    margin: 0.8em;
}
#email-icon {
    width:20px;
    margin-top: 15px;
    margin-right: 8px;
}

textarea, input {
    background-color: #3e4c59;
    color: #fff;
    border: none;
    padding: 0.5em;
    max-width: 75%;
    border-radius: 4px;
    background: linear-gradient(180deg, #1b232b, #182027);
    box-shadow: -0.2px 0.2px 0.2px #161c22, 0.2px 0.2px 0.2px #1b232b;
}

.input-form {
    text-align: center;
    margin: 2em;
    height: 100%;
    padding-top: 2em;
    border: 3px solid #000;
    border-radius: 2em;
}

button {
    margin: 2em;
    margin-right: 0.2em;
    margin-left: 0.2em;
    /* width: 100px; */
    min-width: 120px;
    padding: 0.7em;
    display: inline-block;
    border-radius: 0.4em;
    /* background-color: #0ef5a8; */
    background-color: #0ef5a8;
}

.details-display {
    text-align: center;
}

.buttons {
    display: inline-block;
    align-items: center;
}

.table-div {
    align-content:stretch;
    display: inline-block;
    vertical-align: top;
    background-color: #1F2933;
    border-radius: 20px;
}

.fee-detail {
    /* background-color: #334756; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 3em;
    padding: 0.8em;
    border: none;
    border-radius: 24px;
    background: #182027;
    box-shadow:  10px 10px 50px #1a222a,
                 -15px -10px 50px #24303c;
}

.fee-content {
    width: 100%;
}



th {
    border: none;
    /* background-color: #1b232b; */
    width: 500px;
    margin: 3em;
    /* padding: 0.7em; */
}
.row-item {
    padding: 1.2em;
    border: none;
    width: 320px;
    border-bottom: 1px solid #1b232b;
}
.row-value {
    padding: 0.7em;
    border: none;
    /* border-right: solid 3px #1b232b; */
    border-bottom: 1px solid #1b232b;
    max-width:fit-content;
}

.stub-row-item {
    padding: 1.3em;
    border: none;
    text-align: left;
    border-bottom: 1px solid #1b232b;
    width: 300px;

}

.stub-row-value {
    padding: 1.3em;
    border: none;
    text-align: center;
    border-bottom: 1px solid #1b232b;
    width: 50px;
}
.stub-row-number {
    padding: 1.3em;
    text-align: left;
    border-bottom: 1px solid #1b232b;
    width:25px;

}

.value-last{
    padding: 1em;
    font-size: 1.2em;
    color: #FF4C29;
    /* border-radius: 22px; */
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    /* border-radius: 20px; */
    background: linear-gradient(180deg, #181e24, #13191f);
    box-shadow: -2px 2px 12px #161c22, 2px 2px 8px #1b232b;
}

hr {
   border: solid rgb(48, 61, 73) 1px;
   box-shadow:  1px -3px 6px #24303c;
   margin: 0.5em;
}

/* thead td {
    padding: 1em;
} */

.header-value {
    padding: 0.7em;
    border-radius: 19px;
    background: linear-gradient(90deg, #1b232b, #1b242c);
    box-shadow: -2px 2px 12px #161c22, 2px 2px 8px #1b232b;
}
.stub-box-print {

    text-align: center;

}

#TID-table {
    margin: 0 auto;
}
.tids {
    margin: auto;
    padding: 1em;
    text-align: center;
    border: solid 2px #000;
}
.TID-header > tr > th {
    width: 200px;
    padding: 1em;
}
.TID-input {
    min-width: 400px;
}
.TID-intern-name {
    text-align: left;
}
#bottom-button {
    display: block;
    text-align: center;
}

.stub-container-div {
    margin: 3em;
    padding: 1em;
    display: inline-block;
    min-width: 20cm;
    max-width:22cm;
    height: auto;
    border-radius: 10px;
    background: linear-gradient(90deg, #182027, #161c22);
    box-shadow: -2px 2px 4px #161c22, 2px 2px 8px #1b232b;
    vertical-align: top;
}
.stub-container-div > table > thead > tr > .hh-details,
.stub-container-div > table > thead > tr > .payment-details{
    text-align: left;
    font-family: 'Montserrat';
    padding: 0.9em;
    line-height: 1.2;
}

.hh-details > h4{
    font-family: 'Sanchez';
    font-size: 33px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 100;
}

.payment-details >h4 {
    font-family: 'Sanchez';
    font-size: 15px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 100; 
    letter-spacing: 0.3em;
}

.pay-stub-heading {
    padding: 0.5em;
    font-size: 3em;
    font-family: 'Sanchez';
    text-align: left;
    font-weight: 110;
}

.stub-table-container {
    border: none;
}

.stub-fee-content {
    margin: 0 auto;
    padding: 1em;
}
.stub-fee-content > thead > tr > th {
    font-family: 'montserrat';
    /* width: auto; */
}

.stub-value-last {
    text-align: center;
    padding: 1.2em;
    font-weight: bold;
    font-size: 1.1em;
}

.stub-footer {
    font-size: 0.9em;
    padding-top: 2em;
}


